@page "/contracts"
@inherits ContractBase

<PageTitle>Hợp đồng- Taxi Nam Thắng</PageTitle>

<MudMainContent Class="pa-5 augReFont">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudText Class="pa-3 justify-align-center" Color="Color.Primary" Typo="Typo.h4">
            QUẢN LÝ HỢP ĐỒNG
        </MudText>
        <MudGrid Class="pt-5 pl-9">
            <MudFileUpload T="IBrowserFile" Accept=".xlsx">
                <ActivatorContent>
                    <MudFab Size="Size.Small" DropShadow="false" Color="Color.Tertiary"
                        StartIcon="@Icons.Material.Filled.CloudUpload" Label="Tải tệp tin" />
                </ActivatorContent>
                <SelectedTemplate>
                    @if (context != null)
                    {
                        @context.Name
                        <code class="pa-2">@context.Size bytes</code>
                        <MudButton Class="pa-2" OnClick="(() => loadFileExcels(context))" Variant="Variant.Text"
                            StartIcon="@Icons.Material.Filled.Search" Color="Color.Primary" Size="Size.Small" >
                            Xem nội dung
                        </MudButton>
                    }
                    else
                    {
                        <MudText Class="pa-2">Không có tệp tin</MudText>
                    }
                </SelectedTemplate>
            </MudFileUpload>
        </MudGrid>
        
        <!--Xữ lý load data-->
        @if(Elements == null && isLoadGird == true)
        {
            <MudProgressCircular Color="Color.Success" Indeterminate="true" />
        }
        else if(Elements != null && isLoadGird == true)
        {
            <MudDataGrid T="Contract" Items="@Elements" Hover="true" SortMode="@SortMode.Multiple" MultiSelection="true"
                QuickFilter="@_quickFilter">
                <ToolBarContent>
                    <MudButton Class="pa-2"  Variant="Variant.Text"
                            StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" Size="Size.Small">
                            Lưu dữ liệu
                    </MudButton>
                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Placeholder="Tìm kiếm..." Adornment="Adornment.Start"
                        Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                    </MudTextField>
                </ToolBarContent>
                <Columns>
                    <PropertyColumn Property="x => x.contract_Id" Title="ID" Sortable="false" Filterable="false" />
                    <PropertyColumn Property="x => x.contract_IdTaxi" Title="Số Tài" />
                    <PropertyColumn Property="x => x.contract_Time" Title="Giờ" />
                    <PropertyColumn Property="x => x.contract_Date.Date.ToString(formatDate)" Title="Ngày" />
                    <PropertyColumn Property="x => x.contract_StartPoint" Title="Đón" />
                    <PropertyColumn Property="x => x.contract_EndPoint" Title="Trả" />
                    <PropertyColumn Property="x => x.contract_Kilometer" Title="Số km" />
                    <PropertyColumn Property="x => x.contract_Price" Title="Giá" />
                    <PropertyColumn Property="x => x.contract_Tip" Title="Khách loại" />
                    <PropertyColumn Property="x => x.contract_Note" Title="Ghi chú" />
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="Contract" />
                </PagerContent>
            </MudDataGrid>
        }
    </MudContainer>
</MudMainContent>
@if(isLoadGird != true)
{
    <div style="height: 450px;"></div>
}